/* Font */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Sacramento&display=swap');


:root{
  --darkBlend:#345b5e;
  --orangeMix: #f54702;
  --OM-shadow:#252424;
  --skillBack: #f5ffff;
  --blue:rgb(79, 145, 172);

}
/* Global settings  */
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #ee8b64;
  background-image: url("../images/pic.jpg");
  background-size: cover;
  background-position: right;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}


h2{
  text-transform: uppercase;
}
.my-btn{
  display: inline-block;
  margin: 5px;
  padding:5px 10px;
  color: rgb(94, 250, 250);
  border-radius: 20px;
  border: 1px solid  rgb(5, 255, 255);
  background-color: rgba(59, 97, 92, 0.787);
  text-align: center;
  text-decoration: none;
  font-family:   Geneva, Verdana, sans-serif;
  transition: ease-in;
  transition-property: all;
  transition-duration: 0.3s;
}
.my-btn:hover{
  color: rgb(199, 253, 253);
  border-radius: 20px;
  border: 1px solid  rgb(5, 255, 255);
  background-color: rgba(17, 165, 145, 0.767);
  box-shadow:0px 0px 10px 8px  rgba(0, 255, 234, 0.712);
  text-decoration: none;
}



/* nav settings */

.top-nav-bar{
  width: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  background:url("../images/bgimage.jpg") ;
  background-blend-mode:multiply;
  background-color: var(--darkBlend);
  background-repeat: no-repeat; 
  background-size: cover;
}

#navpress, #lab, #lab span {
  display: none;
}
#menu1 div{
  display: flex;
  margin:  auto;
  border-bottom: 1px solid   rgb(5, 255, 255);
  width:100%;
  justify-content: flex-end;  
  
}

.top-nav-bar li{
  list-style: none;
}
.top-nav-bar a{
  min-width: 120px;
  font-size: .75rem;
}

.top-header, .low-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #feffff;
  background:url("../images/bgimage.jpg") ;
  background-blend-mode:multiply;
  background-color: var(--darkBlend);
  background-repeat: no-repeat; 
  background-size: cover;
  font-family: 'Hathem Bosteem FREE', 'Dancing Script', sans-serif;
  font-size: 40px;
  margin:0;
  padding: 0px;
  min-height: 85vh;
}

.top-header h3{
  margin-top: 50px;
}
.top-header h1, .low-header h1{
  font-size: 15vw;
  margin-top: 25px;
  line-height: 70%;
  text-shadow:  2px 2px 2px  rgb(8, 61, 68);
}

.top-header h3, .low-header h3{
  padding-top: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--orangeMix);
  text-shadow:  0px 0px 2px var(--OM-shadow);
}

.top-header h1{
  margin-top: 50px;
  line-height: 200px;
}

.top-header a, .low-header a{
  font-size: 20px;
  margin: 10px 50px 0 50px;
  padding:5px;
  min-width: 200px;
}

.top-header div{
  min-height: 30px;
}

/* setting for top skills section  */
/* .skills is the class name for the entire section */
.skills{
  min-height: 800px;
  width: 100%;
  background-color:var(--skillBack) ;
  padding-top:0;
  text-align: center;
  font-family: Segoe UI Symbol;
  color: #646E6E ;
}

h2{
  padding:30px 0 ;
  letter-spacing: 5px;
}
.skill{
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  
}
/* .skill (class) = div for enclosing the item img and text */
.skill-item{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height:350px;
  width: 200px;
  margin: 10px ;
  text-align: center;
  box-shadow: 0px 2px 6px 1px  rgb(149, 150, 150);
  border-radius:5px;
  transition: all .5s ease-in-out;
}
.skill > div:nth-of-type(1) > div{
  border-bottom: solid 5px var(--darkBlend);
}
.skill > div:nth-of-type(1) > div h3{
  color:var(--darkBlend) ;
}
.skill > div:nth-of-type(2) > div{
  border-bottom: solid 5px var(--blue);
}
.skill > div:nth-of-type(2) > div h3{
  color:var(--blue) ;
}
.skill > div:nth-of-type(3) > div{
  border-bottom: solid 5px var(--orangeMix);
}

.skill > div:nth-of-type(3) > div h3{
  color:var(--orangeMix) ;
}

.skill-item h3{
  padding: 10px ;
  font-family: "Sitka Banner", serif;
  font-size:180%;
  font-weight: bolder;
  height: 40px;
  line-height: 80%;
}

.des{
  padding: 0 10px;
}

/* SI(class) = skill item, for sizing the image and text of the skills card */
.SI{
  
  font-size: 12px;
  line-height: 25px;
  
  height: 50%;
  width: auto;
}
.SI img{
  height:100%;
  width: 100%;
  border-radius:  5px 5px 0 0;
}

.skill-item:hover{
  transform: scale(1.3);
  margin: 50px 50px;
}

/* mid class for section with a medium height size */
.mid{
  min-height: 70vh;
  background-color: #ffffff ;
  margin-top: 0px;
  font-family: Segoe UI Symbol;
  color: #646E6E ;
}
/* big class for section with a bigger height size */
.big{
  min-height: 160vh;
  background-color: #ffffff ;
  font-family: Segoe UI Symbol;
  color: #646E6E ;
  width: 100%;
}


.about{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 17, 17);
  color: #bad4d4d3 ;
}
.about1, .about2{
  font-size: 18px;
  margin: 5px;
  min-height: 455px;
  box-shadow: 4px 0px 2px 0px  rgba(0, 0, 0, 0.267);
}
.about1{
  width: 35vw;
  margin-right: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.about1 span{
  font-size: 80%;
  color: #bad4d4d3 ;
  
  overflow-wrap: break-word;
}
.about2{
  width: 50vw;
  border-left: 5px solid #66b4b4 ;

}
.about1 img{
  width:35vw;
  height: 455px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.about2 > p{
  padding: 15px;
}
.about2 h2{
  text-align: center;
}

.big  h2{
  text-align: center;
}


/* The projects section */
/* .project-g {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;

} */

/* gallery with two image for one background */

.p-container{
  height: 60px;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:5px ;
  margin: auto;
  }
  
  .p-container > div {
  height: 120px;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(83, 90, 90);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all .5s ease-in;
  }
  
  .p-container > div:hover{
    background-blend-mode: multiply;
    transform: scale(0.95);
    color: #d6cdcd;
  
  }
  .p-container > div:hover div{
  transform: scale(1.5);
  filter: grayscale(0);
  
  }
  .p-container > div:nth-of-type(2){
  grid-column: 2 / 4;
  }
  .p-container > div:nth-of-type(6){
  grid-column: 1 / 3;
  }
  .p-container > div:nth-of-type(8){
  grid-column: 1 / 3;
  }
  .p-container > div:last-of-type{
  grid-column: 2/ 3;
  background-color: #0000003a;
  height: 70px;
  display: flex;
  justify-content: center;
  transition: all .8s ease-in-out;
  font-size: 80%;
}

.p-container > div:last-of-type:hover > a{
  transform: scale(1.2);
  box-shadow:0px 0px 10px 0px  rgba(0, 255, 234, 0.513);
}
  
  
  .bg1{
  background-image: url("../images/b1.jpg");
  background-repeat: no-repeat;
  }
  
  .bg2{
  background-image: url("../images/b2.jpg");
  background-repeat: no-repeat;
  } 

/* project including image and text div */
a{
  text-decoration: none;
}

.img-small{
width:100%;
height: 80%;
}

.lightbox .lb-image {
max-height: 80vh;
width: auto !important;
}

.project{
width: 30%;
min-height: 100px;
text-align: center;
background: rgb(127, 168, 159);
font-family: 'Arial Narrow', Arial, sans-serif;
margin: 20px;
font-size: 50%;
transition: all .5s ease;

}
.project > a:hover{
  text-decoration: none;
}
.project a h3{
  font-size: 110%;
  margin: 4px 0 0 0 ;
  line-height: 80%;
  color: #fff;
}

.p-container h2{
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.margin-space{
width: 700px;
}

.low-header a{
  margin: 100px 50px 0 50px;
}
.low-header a:nth-last-child(even){
  margin:0px 10px 0px 0px;
  padding:0px 0px;  
  min-width: 200px;
  transition: all .6s ease-in-out;
}
.low-header a:nth-last-child(odd){
  margin:10px 10px 0px 30px;
  padding:0px;  
  min-width: 120px;
  background-color: #6e1c089f;
  transition: all .5s ease-in-out;
}


.low-header a:hover{
  position: relative; ;
  left: 10px;
  
  padding:15px;  
  margin: 20px  10px 0 0;
  transform: scalex(1.2);
  z-index: 5;
}

.low-header a:nth-last-child(odd):hover{
  color: #ffc2b3;;
  border-radius: 20px;
  border: 1px solid  #b65942;;
  background-color: #6e1c089f;
  box-shadow:0px 0px 10px 8px  #d43e3ea4;;
  font-family:   Geneva, Verdana, sans-serif;
  width: 130px;
}



.low-header > p{
  position: relative;
  bottom: -20px;
  font-family:Segoe UI Symbol;
  font-size: 2rem;
  color: #d8f5f2;
  min-height: 50px;
  text-shadow:  2px 2px 3px  rgb(1, 10, 12);
}
.low-header{
  margin: 0;
}
.cert-pushin{
  position: relative;
  display: inline-block;
  height: 0;
  margin: 0;
  color: rgb(255, 255, 255);
  bottom: -10px;
  text-transform: capitalize;
  text-decoration: underline;
  font-weight: bolder;
  z-index: 2;
}
.slida{
  
  margin:0 ;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* .slider p {
  margin-bottom: 30px;
} */
.carousel {
  background: transparent
  
}


.carousel .carousel-item {
  height: 400px; 
}
.carousel .carousel-item h2 {
  font-size: 200%; 
}
/* .carousel .carousel-item:nth-of-type(8) h2 {
  font-size: 150%; 
} */


.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  
}

.carousel .carousel-item .carousel-caption{
 
  left: 40%;
  width:60vw ;
  color: #ddf5f2;
}
#carouselBtn {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; 
}



.footer{
  min-height: 30vh;
  background-color:#010e0f  ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  line-height: 200%;
  color: rgb(144, 202, 202);
  font-family: Segoe UI Symbol;;
  text-align: center;
}
.footer img{
  width: 80px;
  margin: 0 0 0 20px;
  border-radius: 25%;
}
footer a {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 70%;
  line-height: 80%;
  color:  rgb(144, 202, 202);
  text-align: center;
}

footer a:hover {
  
  color:  rgb(238, 255, 255);
  
}

footer a p {
  line-height: 0%;
}
footer a p:nth-of-type(1) {
  margin-top: 10px;
}



/* Wireframe Design page settings */

/* body2 for other page different from index.html  */
.body2{
  padding-top: 10%;
  min-height: 150vh;
  background: var(--skillBack);
  margin: 0px;

}

.FC{
  min-width:600px ;
  max-width:600px ;
  overflow: hidden;
  background-color: ;
  height: 700px;
  padding: 3%;
  padding-top: 100px;
  border-right:#b1d3c2 10px;
  margin: auto;

}

.g-iframe{
  min-width:110%;
  max-width:110%;
  height:112%;
  border:none;  
}



.v-long{
  width: 100vw;
}

.v-long > div > img{
  margin: 10vw;
   
}
.v-long > div:nth-of-type(1) > img{
width: 30%;
}
.v-long > div:nth-of-type(2) > img{
 
  width: 70%;
}

